<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Gerente</title>
</head>

<body>
    <div>
        <div class="container" >
            <h2>Inserir Gerente</h2>
            <form (submit)="inserirGerente()" #formInserirGerente="ngForm">
              <div class="form-group">
                <label for="nome">Nome do Gerente:</label>
                <input type="text" id="nome" name="nome" [(ngModel)]="gerente.nome" required>
                <br>
                <label for="CPF">CPF</label>
                <input type="text" id="cpf" name="cpf" [(ngModel)]="gerente.cpf" placeholder="999.999.999-99" maxlength="14"
                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" appCpfFormat (ngModelChange)="resetarValidacaoCPF()" required>
                <button type="button" (click)="verificarCPF()" >Verificar CPF</button>
                <p *ngIf="mensagemCPF" [style.color]="isCpfValido ? 'green' : 'red'">{{ mensagemCPF }}</p>
                <br>
                <label for="email">Email do Gerente:</label>
                <input type="text" id="email" name="email" [(ngModel)]="gerente.email" required>
                <br>
                <label for="telefone">Telefone do Gerente:</label>
                <input type="text" id="telefone" name="telefone" [(ngModel)]="gerente.telefone"  placeholder="(00) 00000-0000" maxlength="15"
                 pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}" appTelefoneFormat required>
              </div>
              <button type="submit" [disabled]="!formInserirGerente.valid || !isCpfValido">Inserir</button>
            <button routerLink="/home-admin">Voltar para a Home</button>
            </form>
          </div>
    </div>
</body>

</html>