<section class="vh-90 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white m-3" style="border-radius: 1rem;">
            <div class="card-body p-5">
                <form (ngSubmit)="cadastrarCliente()" #formCadastrar="ngForm">
                    <div class="mb-md-1 mt-md-1 pb-2">
                        <h2 class="fw-bold mb-2">BANTADS - Registrar-se</h2>

                        <div class="form-outline form-white mb-3">
                            <label class="form-label" for="nome">Nome</label>
                            <input class="form-control" placeholder="Nome" type="text" id="nome" name="nome" [(ngModel)]="cliente.nome"  required>
                        </div>

                        <div class="form-outline form-white mb-3">
                            <label class="form-label" for="email">E-mail</label>
                            <input class="form-control" placeholder="E-mail" type="email" id="email" name="email" [(ngModel)]="cliente.email" required>
                        </div>
        
                        <div class="form-outline form-white mb-3">
                            <label class="form-label" for="cpf">CPF</label>
                            <input class="form-control" placeholder="CPF" type="text" id="cpf" name="cpf" [(ngModel)]="cliente.cpf" placeholder="999.999.999-99" maxlength="14"
                            pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required appCpfFormat (keyup)="verificarCPF()" (ngModelChange)="resetarValidacaoCPF()"/>
                            <!-- <button class="btn btn-primary mt-2" type="button" (keyup)="verificarCPF()">Verificar CPF</button>                        -->
                            <div class="mt-2" [ngClass]="cpfValido ? 'alert alert-success' : 'alert alert-danger'" role="alert" *ngIf="mensagemCPF">
                                {{ mensagemCPF }}
                            </div>
                        </div>

                        <div class="form-outline form-white mb-3">
                            <label class="form-label" for="telefone">Telefone</label>
                            <input class="form-control" type="text" id="telefone" name="telefone" [(ngModel)]="cliente.telefone"
                                placeholder="(00) 00000-0000" maxlength="15" pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}" required
                                appTelefoneFormat />
                        </div>
                        
                        <div class="form-outline form-white mb-3">
                            <label class="form-label" for="cep">CEP</label>
                            <input class="form-control" type="text" id="cep" name="cep" [(ngModel)]="cliente.cep" placeholder="99999-999"
                            maxlength="9" appCepFormat required>
                            <button class="btn btn-primary mt-2" type="button" (click)="buscarEndereco()">Buscar CEP</button>
                        </div>

                        <div *ngIf="isCepSet">
                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="enderecoTipo">Tipo de Endereço:</label>
                                <input class="form-control" type="text" id="enderecoTipo" name="enderecoTipo" 
                                    [(ngModel)]="cliente.tipo" [disabled]="!isCepSet">
                            </div>

                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="logradouro">Logradouro:</label>
                                <input class="form-control" type="text" id="logradouro" name="logradouro" 
                                    [(ngModel)]="cliente.logradouro" [disabled]="!isCepSet">
                            </div>
                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="numero">Número:</label>
                                <input class="form-control" type="text" id="numero" name="numero" required [(ngModel)]="cliente.numero" [disabled]="!isCepSet">
                            </div>

                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="complemento">Complemento:</label>
                                <input class="form-control" type="text" id="complemento" name="complemento" [(ngModel)]="cliente.complemento" [disabled]="!isCepSet">
                            </div>

                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="cidade">Cidade:</label>
                                <input class="form-control" type="text" id="cidade" name="cidade"  [(ngModel)]="cliente.cidade" [disabled]="!isCepSet">
                            </div>

                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="estado">Estado:</label>
                                <input class="form-control" type="text" id="estado" name="estado" [(ngModel)]="cliente.estado" [disabled]="!isCepSet">
                            </div>

                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="salario">Salário:</label>
                                <input class="form-control" type="text" id="salario" currencyMask name="salario" [(ngModel)]="cliente.salario"
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                            </div>
                        
                        </div>

                        <div class="form-outline form-white mb-2 text-center">
                            <button class="btn btn-outline-light " type="submit" [disabled]="!formCadastrar.valid || !cpfValido || cliente.salario < 0">Cadastrar</button>
                            <p class="mt-3">Já tem cadastro? <a routerLink="/">Entrar</a></p>
                        </div>
                    </div>
                </form>
              <div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>