<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saque</title>
</head>

<body>
  <div *ngIf="conta" class="wrapper">
    <div>
      <h4 class="box-title">Saque</h4>
      <h4> Número da Conta: {{conta.id}}</h4>
    </div>
    <div>
      <h4>Saldo:
        <span [style.color]="conta.saldo! >= 0 ? 'green': 'red'">{{ conta.saldo | currency: "BRL"}}</span>
      </h4>
    </div>

    <div>
      <form #formSacar="ngForm">
        <div>
          <label for="valor">Valor:</label>
          <input type="text" #valor id="valor" name="valor" currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required [(ngModel)]="valorSaque"  />
        </div>
        <div >
          <button type="button"  class="btn-confirm" (click)="sacar()"
            [disabled]="!formSacar.form.valid || valorSaque <= 0  || !isValidValue() ">
          Confirmar
          </button>
          <button class="btn-back" type="button"><a [routerLink]="['']">
            Voltar
          </a>
        </button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>