<div class="container mt-5">
    <h2> Ricos Riquinhos</h2>

      <div>
            <table class="table mt-4">
                <thead class="">
                  <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Saldo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row" *ngFor="let cliente of clientes">
                    <td>{{ cliente.cpf }}</td>            
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.endereco.cidade }}</td>
                    <td>{{ cliente.endereco.estado }}</td>
                    <td>{{ buscaSaldoConta(cliente).saldo}}</td>
                   
                  </tr>
                </tbody>
              </table>
    
        </div>
    </div>
    
    