

<div>
    <div> <!-- aqui sera a lista de cliente   -->
        <table>
            <thead>
              <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Salário</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.salario }}</td>
                <td>
                  <button (click)="aprovarCliente(cliente)">Aprovar</button>
                  <button (click)="recusarCliente(cliente)">Recusar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

