<div class="container mt-5">
  <!-- aqui sera a lista de cliente   -->
  <div class="d-flex justify-content-center align-items-center mt-4">
    <div class="border bg-dark rounded-4 p-3" style="width:100%;">
      <h2 class="text-white">Clientes para Aprovação</h2>
      <table class="table table-striped table-dark">
        <thead class="">
          <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Salário</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody *ngIf="clientes && clientes.length > 0">
          <tr scope="row" *ngFor="let cliente of clientes">
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.salario }}</td>
            <td>
              <button class="btn btn-primary" (click)="aprovarCliente(cliente)">Aprovar</button>
              <button class="btn btn-danger ms-2" (click)="recusarCliente(cliente)">Recusar</button>
            </td>
          </tr> 
        </tbody>
      </table>
      <p *ngIf="clientes && clientes.length === 0" class="text-white text-center">Sem clientes</p>
    </div>
  </div>
  
  <div *ngIf="clientes == undefined">
    <div class=" text-center vh-100">
      <strong role="status">
        <div class="spinner-border ms-3" style="width: 3rem; height: 3rem;" aria-hidden="true"></div>
      </strong>
    </div>
  </div>
</div>