<div class="container mt-5" >
    <h2>Detalhes do Cliente</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Informações Pessoais</th>
          <th scope="col">Endereço</th>
          <th scope="col">Financeiro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="cliente">
          <td>
            <p><strong>Nome:</strong> {{ cliente.nome }}</p>
            <p><strong>E-mail:</strong> {{ cliente.email }}</p>
            <p><strong>CPF:</strong> {{ cliente.cpf }}</p>
            <p><strong>Telefone:</strong> {{ cliente.telefone }}</p>
            <p><strong>Salário:</strong> {{ cliente.salario }}</p>
          </td>
          <td>
            <p><strong>Tipo:</strong> {{ cliente.tipo }}</p>
            <p><strong>Logradouro:</strong> {{ cliente.logradouro }}</p>
            <p><strong>Número:</strong> {{ cliente.numero }}</p>
            <p><strong>Complemento:</strong> {{ cliente.complemento }}</p>
            <p><strong>CEP:</strong> {{ cliente.cep }}</p>
            <p><strong>Cidade:</strong> {{ cliente.cidade }}</p>
            <p><strong>Estado:</strong> {{ cliente.estado }}</p>
          </td>
          <td>   
            <p><strong>Saldo:</strong> {{ buscaSaldoConta(cliente).saldo }}</p>
            <p><strong>Limite:</strong> {{ buscaSaldoConta(cliente).limite }}</p>
            <p><strong>Situacao:</strong> {{ buscaSaldoConta(cliente).situacao }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
