
<div>
  <input search-bar type="text" [(ngModel)]="consulta" placeholder="Pesquisar por nome ou CPF" (input)="filtrarClientes()">

  <div>
        <table>
            <thead>
              <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Saldo</th>
                <th>Visualizar</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientesFiltrados">
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.endereco.cidade }}</td>
                <td>{{ cliente.endereco.estado }}</td>
                <td>{{ buscaSaldoConta(cliente)}}</td>
                <td> <button routerLink="/detalhe-cliente">Detalhes</button> </td>
              </tr>
            </tbody>
          </table>
          <button routerLink="/home-gerente">Voltar</button>

    </div>
</div>

