<p>relatorio-clientes works!</p>
<div *ngIf="verifyLogin(); else erro">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Limite</th>
                    <th>Gerente</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.cpf}}</td>
                    <td>{{formatCurrency(buscaLimiteConta(cliente))}}</td>
                    <td>{{ buscaGerenteCliente(cliente)}}</td>
                    <td>{{ formatCurrency(buscaSaldoConta(cliente))}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button routerLink="/home-admin">Voltar</button>
</div>

<ng-template #erro>
    <span>
        Erro: Você não tem permissão para acessar esta página.
    </span>
</ng-template>



