<div class="container d-flex justify-content-center mt-5">
  <div *ngIf="conta" style="width: 300px;" class="deposito">
    <h1>Depósitar</h1>

    <form #formDepositar="ngForm">
      <p>Saldo: {{ conta.saldo | currency }}</p>

      <p>Informe o valor do depósito:</p>

      <div class="form-group">
        <label for="valor">Valor:</label>
        <input placeholder="R$ 0,00" class="form-control" #valor="ngModel" id="valor" name="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"  required [(ngModel)]="valorDeposito"  />
        <div *ngIf="valor.errors && (valor.dirty || valor.touched)" class="mt-2 alert alert-danger">
          <div [hidden]="!valor.errors?.['required']"> Digite um valor para deposito.</div>
        </div>
      </div>

      <div class="form-group mt-5 d-flex justify-content-center">
        <a class="btn btn-secondary me-3" href="#" routerLink="">
          Voltar
        </a>
        <button type="button" class="btn btn-primary" (click)="depositar()" [disabled]="!formDepositar.form.valid || !valorDeposito">
          Depósitar
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="!conta">
    <div class="d-flex align-items-center">
      <strong role="status">
        <div class="spinner-border ms-3" style="width: 3rem; height: 3rem;" aria-hidden="true"></div>
      </strong>
    </div>
  </div>
</div>