<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div *ngIf="conta">
    <div>
      <h4>Depositar - Conta: {{conta.id}}</h4>
    </div>
    
    <div>
      <h4>Saldo:
        <span [style.color]="conta.saldo! >= 0 ? 'green': 'red'">{{ conta.saldo | currency: "BRL"}}</span>
      </h4>
    </div>

    <div>
      <h3>Transações:</h3>
      <ul>
        <li *ngFor="let transacao of conta.movimentacao">
          {{ transacao.dataHora | date: 'dd/MM/yyyy HH:mm:ss' }} - Tipo: {{ transacao.type }} - Valor: {{ transacao.value | currency: "BRL" }}
        </li>
      </ul>
    </div>

      <div>
        <form #formDepositar="ngForm">
          <div>
            <label for="valor">Valor:</label>
            <input type="text" #valor id="valor" name="valor" currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required [(ngModel)]="valorDeposito"  />
          </div>
          <div >
            <button type="button"  style="margin-right: 10px" (click)="depositar()"
              [disabled]="!formDepositar.form.valid || valorDeposito <= 0 ">
            Confirmar
            </button>
            <button (click)="getConta()">pega conta</button>
            <a [routerLink]="['']">
              Voltar
            </a>
          </div>
        </form>
      </div>
  </div>

</body>
</html>
