<div class="container d-flex justify-content-center mt-5">
  <div *ngIf="conta" style="width: 300px;" class="transf">

  <h1 class="box-title">Transferência</h1>
  <h5>Conta: {{conta.id}}</h5>
  <h6>Saldo:
    <span [style.color]="conta.saldo! >= 0 ? 'green': 'red'">{{ conta.saldo | currency: "BRL"}}</span>
  </h6>

  <form #formDepositar="ngForm" (ngSubmit)="transferir()">
    <div class="form-group">
      <label for="contaDestinoId">Conta de Destino:</label>
      <input
        type="number"
        class="form-control"
        id="contaDestinoId"
        name="contaDestinoId"
        [(ngModel)]="contaDestinoId"
        required
      >
    </div>

    <div class="form-group">
      <label for="valor">informe o valor da Transferência:</label>
      <input type="text"  placeholder="R$ 0,00" class="form-control" #valor="ngModel" id="valor" name="valor" currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required [(ngModel)]="valorTransferencia"  />
      <div *ngIf="valor.errors && (valor.dirty || valor.touched)" class="mt-2 alert alert-danger">
        <div [hidden]="!valor.errors?.['required']"> Digite um valor para deposito.</div>
      </div>
    </div>

      <div class="form-group mt-5 d-flex justify-content-center">
        <a class="btn btn-secondary me-3" href="#" routerLink="">
          Voltar
        </a>
        <button type="button" class="btn btn-primary" (click)="transferir()"
            [disabled]="!formDepositar.form.valid || valorTransferencia <= 0  || !isValidValue() ">
          Confirmar
        </button>
      </div>
    </form>
</div>
