<div class="container">
  <h2>Extrato de Movimentações</h2>

  <!-- Filtros para seleção de datas -->
  <div class="form-group">
    <label>Data Inicial:</label>
    <input type="date" [(ngModel)]="dataInicial">
  </div>
  <div class="form-group">
    <label>Data Final:</label>
    <input type="date" [(ngModel)]="dataFinal">
  </div>
  <button (click)="filtrarMovimentacoes()">Filtrar</button>

  <!-- Tabela para exibir as movimentações -->
  <table class="table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Conta Origem</th>
        <th>Conta Destino</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movimentacao of movimentacoes">
        <td>{{ convertData(movimentacao.dataHora) }}</td>
        <td>{{ movimentacao.type }}</td>
        <td>{{ movimentacao.value | currency }}</td>
        <td *ngIf="movimentacao.conta_id != conta.id">{{movimentacao.conta_id}}</td>
        <td *ngIf="movimentacao.conta_id != conta.id">{{movimentacao.conta_id}}</td>

        <!-- {
          "dataHora": "2023-09-26T00:31:01.530Z",
          "type": "TRANSFERENCIA",
          "value": 15,
          "conta_id": 1,
          "conta_destiny": 2,
          "id": 41
      } -->

      </tr>
    </tbody>
  </table>
</div>
