<div class="container">
  <h2>Extrato de Movimentações</h2>

  <!-- Filtros para seleção de datas -->
  <div class="form-group">
    <label>Data Inicial:</label>
    <input type="date" [(ngModel)]="dataInicial">
  </div>
  <div class="form-group">
    <label>Data Final:</label>
    <input type="date" [(ngModel)]="dataFinal">
  </div>
  <button (click)="filtrarMovimentacoes()">Filtrar</button>

  <!-- Tabela para exibir as movimentações -->
  <table class="table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movimentacao of movimentacoes">
        <td>{{ movimentacao.dataHora | date }}</td>
        <td>{{ movimentacao.type }}</td>
        <td>{{ movimentacao.value | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
